/ReportRepair/nbproject/private/
/ReportRepair/build/
/PasswordPolicy/nbproject/private/
/PasswordPolicy/build/
/TobogganTrajectory/nbproject/private/
/TobogganTrajectory/build/
/PassportProcessing/nbproject/private/
/PassportProcessing/build/
/BinaryBoarding/nbproject/private/
/BinaryBoarding/build/
/CustomCustoms/nbproject/private/
/CustomCustoms/build/
/HandheldHalting/nbproject/private/
/HandheldHalting/build/